@charset "utf-8";
/* 
==============================================
                CSS Base
============================================== 
*/
html,body{margin:0;}
html {scroll-behavior: smooth;}
*{box-sizing: border-box;color:#626262;}
ul,li {list-style-type: none;margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,p,figure {margin:0;}
button{background: none; border: none; padding: 0;}
input{padding: 0;}
img {vertical-align: top;}
a {text-decoration: none;}
a, div, button, li {-webkit-tap-highlight-color : transparent;}
/* 
==============================================
                Font Base
============================================== 
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(102, 102, 102);
}

/*
==============================================
==============================================
                    PC
==============================================
==============================================
/* 
==============================================
                    Header
============================================== 
*/
header {
    width: 100%; height: auto;
    padding: 30px; margin: 0 auto;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head > div, .head > div > nav > ul {
    display: flex;
    align-items: center;
}
.head > div > nav > ul > li {margin-right: 24px;}
.head > div > nav > ul > li a::after {
    position: relative;
    content: "";
    display: block;
    border-bottom: 2px solid rgb(34, 34, 34);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out 0s;
}
.head > div > nav > ul > li a.active {font-size: 1.35rem; font-weight: bold; color: rgb(34, 34, 34);}
.head > div > nav > ul > li a.scroll-active {font-size: 1.35rem; font-weight: bold; color: rgb(34, 34, 34);}
.head > div > nav > ul > li a.active:after {transform: scaleX(1); transform-origin: 0% 50%;}
.head > div > nav > ul > li a.scroll-active:after {transform: scaleX(1); transform-origin: 0% 50%;}
/* sub menu */
.head > div > nav > ul li:nth-of-type(3) div {display: flex; align-items: center;}
.head > div > nav > ul li:nth-of-type(3) {
    display: flex;
    align-items: center;
    position: relative;
}
.head > div > nav > ul li:nth-of-type(3) ul {
    width: 120%;
    padding: 16px 0;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute; top: 100%; left: -10%;
    box-shadow: rgba(0, 0, 0, 10%) 0 0 24px;
    display: none;
}
.head > div > nav > ul li:nth-of-type(3) li {
    font-size: 1rem;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}
.head > div > nav > ul li:nth-of-type(3):hover ul {display: flex;}
.head > div > nav > ul li:nth-of-type(3):hover svg path{
    transform-origin: center;
    transform: rotate(180deg);
}
.head > div > nav > ul li:nth-of-type(3) li:hover{background-color: rgb(49, 49, 49);}
.head > div > nav > ul li:nth-of-type(3) li:hover a {color: #fff;font-weight: bold;}
/* pc download button */
.pc-download {position: relative;}
.pc-download > button {
    width: 170px; height: 45px;
    text-align: center;
    background-image: url(../img/download.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.pc-download button > span {font-size: 1.25rem; font-weight: bold; color: #fff;}
.pc-download > button:hover {background-image: url(../img/download-hover.png);}
.pc-download nav {
    width: 120%;
    padding: 16px;
    background-color: #fff;
    z-index: 2;
    position: absolute; top: 150%; left: -10%;
    box-shadow: rgba(0, 0, 0, 10%) 0 0 24px;
    display: none;
}
.pc-download p, .pc-download nav b {font-size: 1.2rem; color: #666;}
.pc-menu-exit {height: 45px; position: relative;}
.pc-menu-exit > button {
    position: absolute; top: -5%; right: 0%;
    width: 20px; height: 20px;
    z-index: 1; cursor: pointer;
}
.pc-download div:nth-of-type(2) a {
    height: 45px;
    background-color: rgb(48, 120, 207);
    padding: 15px 0; margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pc-download div:nth-of-type(2) a img {width: 40%; height: auto;}
.pc-download div:nth-of-type(3) {margin-top: 40px;}
.pc-download div:nth-of-type(3) div {
    height: 45px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pc-download div:nth-of-type(3) b {color: #000;}
.pc-download div:nth-of-type(3) a {height: 100%; border: 1px solid #ddd;  margin-left: 5px;}
.pc-download div:nth-of-type(3) a img {width: 100%; height: 100%;}
.pc-download nav.pc-active {display: inline-block;}
.pc-download > button.pc-active {background-image: url(../img/download-hover.png);}
/* not use to pc! */
.head > div > div:nth-of-type(1) {display: none;}
.head > div > p {display: none;}
.head > button {display: none;}
.mobile-back {
    display: none;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
}

/* 
==============================================
                Up button
============================================== 
*/
.up-button {
    position: fixed;
    z-index: 3;
    right: 5px;
    bottom: 55px;
    cursor: pointer;
    z-index: 1;
}
.up-button:hover > svg rect {fill: #7A3EFF;}
.up-button:hover > svg path {fill: #fff;}

/* 
==============================================
                    Footer
============================================== 
*/
.foot div {
    display: flex; justify-content: center; align-items: center;
    padding: 30px 0;
}
.foot div p {
    font-size: 15px; font-weight: 400; color: rgb(153, 153, 153);
    margin-left: 20px;
}
/* not use to pc! */
footer a {
    width: 100%; height: 4rem;
    font-size: 1.5rem; font-weight: bold;
    color: #fff;
    background-color: #7a3eff;
    position: fixed;
    padding-top: 1rem;
    text-align: center;
    left: 0; bottom: 0;
    z-index: 99;
    display: none;
}

/*
==============================================
==============================================
                    mobile
==============================================
==============================================
*/
@media (max-width: 767px) {
    body {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 0.75rem;
        font-weight: 600;
        color: rgb(102, 102, 102);
    }
/* 
==============================================
                    Header
============================================== 
*/
    header {
        width: 100%; height: auto;
        padding: 0; margin: 0 auto;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 9999;
    }
    .head {
        padding: 10px 20px;
        display: flex; align-items: center; justify-content: space-between;
    }
    .head > div > nav > ul > li a.active {font-size: 1rem; font-weight: bold; color: rgb(34, 34, 34);}
    .head > div > nav > ul > li a.scroll-active {font-size: 1rem; font-weight: bold; color: rgb(34, 34, 34);}
    .head > div > nav > ul > li a.active:after {transform: scaleX(0); transform-origin: 0% 50%;}
    .head > div > nav > ul > li a.scroll-active:after {transform: scaleX(0); transform-origin: 0% 50%;}
    /* sub menu */
    .mobile-back {
        display: none;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.8);
    }
    .head > div, .head > div > nav > ul {display: block; align-items: center;}
    .head > div {
        width: 80vw; height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0; right: -3px;
        overflow: scroll;
        display: block;
        transform: translateX(100%);
        transition: .3s;
        z-index: 9999;
    }
    body.mobile-active {overflow: hidden;}
    .head > div.mobile-active {transform: translateX(0);}
    .head > div > div:nth-of-type(1) {
        display: flex; justify-content: space-between;
        padding: 2rem 2rem 0;
    }
    .head > div > nav {
        padding: 2rem 2rem 0.5rem;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    .head > div > nav li {display: flex; align-items: center;}
    .head > div > nav > ul > li {margin-right: 0px; padding: 10px 0;}
    .head > div > nav > ul li:nth-of-type(3) div {
        display: flex; align-items: center; justify-content: space-between;
    }
    .head > div > nav > ul li:nth-of-type(3) {
        display: block;
        align-items: center; 
        position: relative;
    }
    .head > div > nav > ul li:nth-of-type(3) ul {
        width: 100%;
        margin-top: 10px; padding: 10px 0;
        background-color: rgba(244, 244, 244, 0.7);
        z-index: 2;
        display: block;
        flex-direction: column;
        position: static; top: 0%; left: 0%;
        box-shadow: none;
        display: block;
    }
    .head > div > nav > ul li:nth-of-type(3) li {
        font-size: 0.75rem;
        padding: 6px 20px 6px 0;
        display: flex;
        align-items: center;
    }
    .head > button {display: block;}
    .head > div > p {
        text-align: center; 
        margin-top: 1.6rem; padding: 1.6rem;
        display: block;
    }
    /* not use for mobile! */
    .head > div > nav > ul li:nth-of-type(3):hover ul {display: block;}
    .head > div > nav > ul li:nth-of-type(3):hover svg path{
        transform-origin: center;
        transform: rotate(0deg);
    }   
    .head > div > nav > ul li:nth-of-type(3) li:hover{background-color: rgba(255, 255, 255, 0);}
    .head > div > nav > ul li:nth-of-type(3) li:hover a {color: #000;font-weight: bold;}
    /* only use mobile! */
    .head > div > nav > ul li:nth-of-type(3) svg.mobile-active path {transform-origin: center; transform: rotate(180deg);}
    .head > div > nav > ul li:nth-of-type(3) ul.mobile-active {display: none;}
    .mobile-back.mobile-active {
        display: block;
        position: absolute;
        top: 0; left: 0;
        height: 100vh;
    }
    /* only use pc! */
    .pc-download {position: relative; display: none;}
    .pc-download > button {
        width: 170px; height: 45px;
        text-align: center;
        background-image: url(../img/download.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
    }
    .pc-download button > span {font-size: 1.25rem; font-weight: bold; color: #fff;}
    .pc-download > button:hover {background-image: url(../img/download-hover.png);}
    .pc-download nav {
        width: 120%;
        padding: 16px;
        background-color: #fff;
        z-index: 2;
        position: absolute; top: 150%; left: -10%;
        box-shadow: rgba(0, 0, 0, 10%) 0 0 24px;
        display: none;
    }
    .pc-download p, .pc-download nav b {font-size: 1.2rem; color: #666;}
    .pc-menu-exit {height: 45px; position: relative;}
    .pc-menu-exit > button {
        position: absolute; top: -5%; right: 0%;
        width: 20px; height: 20px;
        z-index: 1; cursor: pointer;
    }
    .pc-download div:nth-of-type(2) a {
        height: 45px;
        background-color: rgb(48, 120, 207);
        padding: 15px 0; margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pc-download div:nth-of-type(2) a img {width: 40%; height: auto;}
    .pc-download div:nth-of-type(3) {margin-top: 40px;}
    .pc-download div:nth-of-type(3) div {
        height: 45px;
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .pc-download div:nth-of-type(3) b {color: #000;}
    .pc-download div:nth-of-type(3) a {height: 100%; border: 1px solid #ddd;  margin-left: 5px;}
    .pc-download div:nth-of-type(3) a img {width: 100%; height: 100%;}
    .pc-download nav.pc-active {display: inline-block;}
    .pc-download > button.pc-active {background-image: url(../img/download-hover.png);}

/* 
==============================================
                Up button
============================================== 
*/
    .up-button {
        position: fixed;
        z-index: 3;
        right: 5px;
        bottom: 75px;
        cursor: pointer;
        z-index: 1;
    }
    .up-button:hover > svg rect {fill: #fff;}
    .up-button:hover > svg path {fill: #333333;}


/* 
==============================================
                    Footer
============================================== 
*/
    .foot div {
        margin-bottom: 4rem;
        display: flex; justify-content: center; align-items: center;
        padding: 30px 10px;
    }
    .foot div p {
        font-size: 0.5rem; font-weight: 400; color: rgb(153, 153, 153);
        margin-left: 10px;
    }
    footer a {
        width: 100%; height: 4rem;
        font-size: 1.5rem; font-weight: bold;
        color: #fff;
        background-color: #7a3eff;
        position: fixed;
        padding-top: 1rem;
        text-align: center;
        left: 0; bottom: 0;
        z-index: 99;
        display: block;
    }
}

/*
==============================================
==============================================
                    tablet
==============================================
==============================================
*/
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 0.75rem;
        font-weight: 600;
        color: rgb(102, 102, 102);
    }
/* 
==============================================
                    Header
============================================== 
*/
    header {
        width: 100%; height: auto;
        padding: 0; margin: 0 auto;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 9999;
    }
    .head {
        padding: 10px 20px;
        display: flex; align-items: center; justify-content: space-between;
    }
    .head > div > nav > ul > li a.active {font-size: 1rem; font-weight: bold; color: rgb(34, 34, 34);}
    .head > div > nav > ul > li a.scroll-active {font-size: 1rem; font-weight: bold; color: rgb(34, 34, 34);}
    .head > div > nav > ul > li a.active:after {transform: scaleX(0); transform-origin: 0% 50%;}
    .head > div > nav > ul > li a.scroll-active:after {transform: scaleX(0); transform-origin: 0% 50%;}
    /* sub menu */
    .mobile-back {
        display: none;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.8);
    }
    .head > div, .head > div > nav > ul {display: block; align-items: center;}
    .head > div {
        width: 40vw; height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0; right: -3px;
        overflow: scroll;
        display: block;
        transform: translateX(100%);
        transition: .3s;
        z-index: 9999;
    }
    body.mobile-active {overflow: hidden;}
    .head > div.mobile-active {transform: translateX(0);}
    .head > div > div:nth-of-type(1) {
        display: flex; justify-content: space-between;
        padding: 2rem 2rem 0;
    }
    .head > div > nav {
        padding: 2rem 2rem 0.5rem;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    .head > div > nav li {display: flex; align-items: center;}
    .head > div > nav > ul > li {margin-right: 0px; padding: 10px 0;}
    .head > div > nav > ul li:nth-of-type(3) div {
        display: flex; align-items: center; justify-content: space-between;
    }
    .head > div > nav > ul li:nth-of-type(3) {
        display: block;
        align-items: center; 
        position: relative;
    }
    .head > div > nav > ul li:nth-of-type(3) ul {
        width: 100%;
        margin-top: 10px; padding: 10px 0;
        background-color: rgba(244, 244, 244, 0.7);
        z-index: 2;
        display: block;
        flex-direction: column;
        position: static; top: 0%; left: 0%;
        box-shadow: none;
        display: block;
    }
    .head > div > nav > ul li:nth-of-type(3) li {
        font-size: 0.75rem;
        padding: 6px 20px 6px 0;
        display: flex;
        align-items: center;
    }
    .head > button {display: block;}
    .head > div > p {
        text-align: center; 
        margin-top: 1.6rem; padding: 1.6rem;
        display: block;
    }
    /* not use for mobile! */
    .head > div > nav > ul li:nth-of-type(3):hover ul {display: block;}
    .head > div > nav > ul li:nth-of-type(3):hover svg path{
        transform-origin: center;
        transform: rotate(0deg);
    }   
    .head > div > nav > ul li:nth-of-type(3) li:hover{background-color: rgba(255, 255, 255, 0);}
    .head > div > nav > ul li:nth-of-type(3) li:hover a {color: #000;font-weight: bold;}
    /* only use mobile! */
    .head > div > nav > ul li:nth-of-type(3) svg.mobile-active path {transform-origin: center; transform: rotate(180deg);}
    .head > div > nav > ul li:nth-of-type(3) ul.mobile-active {display: none;}
    .mobile-back.mobile-active {
        display: block;
        position: absolute;
        top: 0; left: 0;
        height: 100vh;
    }
    /* only use pc! */
    .pc-download {position: relative; display: none;}
    .pc-download > button {
        width: 170px; height: 45px;
        text-align: center;
        background-image: url(../img/download.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
    }
    .pc-download button > span {font-size: 1.25rem; font-weight: bold; color: #fff;}
    .pc-download > button:hover {background-image: url(../img/download-hover.png);}
    .pc-download nav {
        width: 120%;
        padding: 16px;
        background-color: #fff;
        z-index: 2;
        position: absolute; top: 150%; left: -10%;
        box-shadow: rgba(0, 0, 0, 10%) 0 0 24px;
        display: none;
    }
    .pc-download p, .pc-download nav b {font-size: 1.2rem; color: #666;}
    .pc-menu-exit {height: 45px; position: relative;}
    .pc-menu-exit > button {
        position: absolute; top: -5%; right: 0%;
        width: 20px; height: 20px;
        z-index: 1; cursor: pointer;
    }
    .pc-download div:nth-of-type(2) a {
        height: 45px;
        background-color: rgb(48, 120, 207);
        padding: 15px 0; margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pc-download div:nth-of-type(2) a img {width: 40%; height: auto;}
    .pc-download div:nth-of-type(3) {margin-top: 40px;}
    .pc-download div:nth-of-type(3) div {
        height: 45px;
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .pc-download div:nth-of-type(3) b {color: #000;}
    .pc-download div:nth-of-type(3) a {height: 100%; border: 1px solid #ddd;  margin-left: 5px;}
    .pc-download div:nth-of-type(3) a img {width: 100%; height: 100%;}
    .pc-download nav.pc-active {display: inline-block;}
    .pc-download > button.pc-active {background-image: url(../img/download-hover.png);}

/* 
==============================================
                Up button
============================================== 
*/
    .up-button {
        position: fixed;
        z-index: 3;
        right: 5px;
        bottom: 75px;
        cursor: pointer;
        z-index: 1;
    }
    .up-button:hover > svg rect {fill: #fff;}
    .up-button:hover > svg path {fill: #333333;}

/* 
==============================================
                    Footer
============================================== 
*/
    .foot div {
        margin-bottom: 4rem;
        display: flex; justify-content: center; align-items: center;
        padding: 30px 10px;
    }
    .foot div p {
        font-size: 0.5rem; font-weight: 400; color: rgb(153, 153, 153);
        margin-left: 10px;
    }
    footer a {
        width: 100%; height: 4rem;
        font-size: 1.5rem; font-weight: bold;
        color: #fff;
        background-color: #7a3eff;
        position: fixed;
        padding-top: 1rem;
        text-align: center;
        left: 0; bottom: 0;
        z-index: 99;
        display: block;
    }
}