/*
==============================================
==============================================
                    PC
==============================================
==============================================
*/
/* 
==============================================
                    Post
============================================== 
*/
.post .news a {display: flex; justify-content: space-between;}
.post .news p {font-size: 1rem; font-weight: 400; color: rgb(153, 153, 153); padding-left: 25px;}
/*
==============================================
==============================================
                    mobile
==============================================
==============================================
*/

@media (max-width: 767px) {
/* 
==============================================
                Post
============================================== 
*/
    .post .news a {display: block; justify-content: none;}
    .post .news p {font-size: 0.75rem; font-weight: 400; color: rgb(153, 153, 153); padding-left: 0px; margin-top: 5px;}
}
    
@media (min-width: 768px) and (max-width: 991px) {
/* 
==============================================
                    Post
============================================== 
*/
    .post .news a {display: flex; justify-content: space-between;}
    .post .news p {font-size: 0.75rem; font-weight: 400; color: rgb(153, 153, 153); padding-left: 0px;}
}
    
/*
==============================================
==============================================
                tablet and pc +
==============================================
==============================================
*/
@media (min-width: 992px) and (max-width: 1024px) {
    .post .news {width: 100%; min-width: 950px;}
}
