@import url(./common.css);
@import url(./post-base.css);

/* 
==============================================
                    Header
============================================== 
*/


/* 
==============================================
                    Post
============================================== 
*/
.post > ul > li strong {
    font-size: 1.75rem; font-weight: 700; color: rgb(34, 34, 34);
    margin-right: 8px;
}

/*
==============================================
==============================================
                    mobile
==============================================
==============================================
*/
@media (max-width: 767px) {
/* 
==============================================
                    Header
============================================== 
*/

/* 
==============================================
                    Post
============================================== 
*/
    .post ul > li a{
        font-size: 0.9rem; font-weight: 400; color: rgb(51, 51, 51);
        display: flex; align-items: center;
    }
}

/*
==============================================
==============================================
                    tablet
==============================================
==============================================
*/
@media (min-width: 768px) and (max-width: 991px) {
/* 
==============================================
                    Header
============================================== 
*/

/* 
==============================================
                    Post
============================================== 
*/
    .post ul > li a{
        font-size: 0.9rem; font-weight: 400; color: rgb(51, 51, 51);
        display: flex; align-items: center;
    }
}

/*
==============================================
==============================================
            tablet and pc +
==============================================
==============================================
*/